{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Header -->
    <header>
        <h1></h1>
        <!-- <img src="{% static 'images/superhero.png' %}" alt="Site Logo"> -->
    </header>

    <!-- Navigation Menu -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Create Account</a></li>
            
        </ul>
    </nav>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
    <!-- Page-Specific Content -->
    <main>
        {% block content %}
        <!-- Each page will insert its own content here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025. All rights reserved.</p>
    </footer>

</body>
</html>
